style.css
body { 
background-color:#7FDBFF ;
font-family: 'Raleway', sans-serif; 
}
.head { 
background-color: blue;}
h1{ 
display:block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold; 
text-align: center;
}
h6{
display:block;
font-size: 1em;
font-weight: italic; 
text-align: center;	
}
.bio {
	 
	align-items: right;
	align-content: top;
	top: 0px;
	right: 0px;
	position: relative;

}
.sidenav { 
	height: auto;
	width: 160px;
	z-index: 1;	
	top:0;
	left:0;
	background-color: silver;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a { 
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
 }


}