style.css
header {  
text-align: center
display: flex;
width:100%;
flex-direction: column;
border-bottom: 1px solid #F2F2F2;
padding: 2.3em 0;
background: aqua;
background-color: aqua; } 

.flex { 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	 }

.body { 
background-color: white; }

.main { 
width: 100%; 
height:100%;
position: absolute;
background: white;
text-align: center;}

.main hr { margin: 10px 0px 20px 0px; padding: 0px; border: 0;
border-bottom: 2px solid #D3D3D3 }


.sidenav { 
width: 17%;
height: 100%;
position: absolute;
background: silver; }

.sidenav img { border-radius: 50%; }

span { 
content: "\2709"; }
span { 
content: "\260F"; }

hr{ margin: 20px 0px 20px 0px; padding: 0px; border: 0;
border-bottom: 4px solid #000000 }

ul { list-style-type: circle; }
 
 .fa { 
 } 