style.css
body { 
background-color:#7FDBFF ;
font-family: 'Raleway', sans-serif; 
}
h1{ 
display:block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold; 
text-align: center;
}
h4{
display:block;
font-size: 1em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: italic; 
text-align: center;	
}
.sidenav { 
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;	
	top:0;
	left:0;
	background-color: silver;
	overflow-x: hidden;
	padding-top: 20px;
}
